/* keep the max size in bigger screens*/
@media(min-width: 1366px) {
    body {
        display: grid;
        justify-items: center ;
    }

    .container {
        width: 1345px;
    }
}


/*---------------------------styling the overlay effect*/

.overlay {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }

.text {
    grid-row: 1/4; 
    color: whitesmoke;
    padding: 30px;
}

.text p {
    font-size: 16px;
    margin: 15px 0;
}

.closebtn {
    grid-row: 4/5;
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    color: rgba(245, 245, 245, 0.5);
    font-size: 26px;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    position: sticky;
    top: 85%;
    left: 48.5%;
}

.closebtn:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    cursor: pointer;
}

p a {
    text-decoration: underline;
}

.text a:hover {
    color: rgb(143, 140, 140);
}

a {
    text-decoration: none;
    color: inherit;
}
/*-----------------------------overlay effect ends here*/

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: rgb(204, 204, 226);
}

.container {
    background-color: #c5a9a9;
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

h1 {
    grid-column: 1/19;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

p {
    margin: 0;
    padding: 0px 0 0 0;
    font-size: 8px;
    font-weight: normal;
    text-align: center;
}

.empty1, .empty2, .empty3 {
    border: none;
}

.class1, .class2, .class3, .class4, .class5, .class6, .class7, .class8, .class9 {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7), 0 2px 5px 0 rgba(0, 0, 0, 0.6), 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.class1 {background-color: #449c44;}
.class2 {background-color: #4e4eff;}
.class3 {background-color: #fa4d4d;}
.class4 {background-color: #cfa900;}
.class5 {background-color: #ff8800;}
.class6 {background-color: #90ee90;}
.class7 {background-color: #778899;}
.class8 {background-color: #71aed4;}
.class9 {background-color: #b966b9;}

.class1 button {
    display: grid;
    grid-template-rows: repeat(4, auto);
    border-radius: 5px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgb(68, 156, 68);
    cursor: pointer;
    text-align: center;
    font-family: inherit;
}
.class1 button:hover {
    background-color:   rgb(103, 156, 103);
    transition: linear .1s;
    color: #d4d3d3
}
